template: run-session/index<br>

{{#each run in this}}
	<tr>
		<td>{{run.id}}</td>
		<td>{{moment run.start_time 'DD.MM.YYYY h:mm:ss'}}</td>
		<td>{{moment run.end_time 'h:mm:ss'}}</td>
		<td>{{duration run.duration 'minutes'}}</td>
		<td>{{run.distance}} m</td>
		<td>{{#link-to 'run_session.show' run}}{{run.id}}{{/link-to}}</td>
	</tr>
{{/each}}
