
{{#each run in this}}
	<tr>
		<td class="hidden-xs">{{run.id}}</td>
		<td>{{moment run.start_time 'DD.MM.YYYY h:mm:ss'}}</td>
		<td class="hidden-xs">{{moment run.end_time 'h:mm:ss'}}</td>
		<td>{{duration run.duration 'minutes'}}</td>
		<td>{{run.distance}} m</td>
		<td></td>
		<td>{{#link-to 'show' run.id}}{{run.id}}{{/link-to}}</td>
	</tr>
{{/each}}
