
template: run-session<br>


<table class="table">
	<tr>
		<th><button {{action 'sortBy' 'id'}}>id</button></th>
		<th><button {{action 'sortBy' 'start_time'}}>start_time</button></th>
		<th><button {{action 'sortBy' 'end_time'}}>end_time</button></th>
		<th><button {{action 'sortBy' 'duration'}}>duration</button></th>
		<th><button {{action 'sortBy' 'distance'}}>distance</button></th>
	</tr>

	{{outlet}}

</table>

<button {{action 'prevPage'}}>prev</button>
<button {{action 'nextPage'}}>next</button>


