<div class="container">
	<div class="row">
		<div class="col s12">

			<table class="bordered z-depth-1 run-table">
				<tr class="table-header">
					<th class="hide-on-small-only text-right" {{action 'sortBy' 'id'}}>id</th>
					<th class="text-right" {{action 'sortBy' 'start_time'}}>start_time</th>
					<th class="hide-on-small-only text-right" {{action 'sortBy' 'end_time'}}>end_time</th>
					<th class="text-right" {{action 'sortBy' 'duration'}}>duration</th>
					<th class="text-right" {{action 'sortBy' 'distance'}}>distance</th>
					<th>{{fa-icon "map-marker"}}</th>
				</tr>

				{{outlet}}

			</table>

		</div>
	</div>


	<div id="inline-pagination" class="row inline-pagination">
		<div class="col s4 btn-container">
			<button {{action 'prevPage'}} class="btn btn-prev">{{fa-icon "chevron-left"}}</button>
		</div>
		<div class="col s4">
			<p class="pagination-counter">
				{{page}} / {{total}}
			</p>
		</div>
		<div class="col s4 btn-container">
			<button {{action 'nextPage'}} class="btn btn-next">{{fa-icon "chevron-right"}}</button>
		</div>
	</div>

</div>

<div id="sticky-pagination" class="container-fixed z-depth-2">
	<div class="container">
		<div class="row">
			<div class="col s4 btn-container">
				<button {{action 'prevPage'}} class="btn btn-prev">{{fa-icon "chevron-left"}}</button>
			</div>
			<div class="col s4">
				<p class="pagination-counter">
					{{page}} / {{total}}
				</p>
			</div>
			<div class="col s4 btn-container">
				<button {{action 'nextPage'}} class="btn btn-next">{{fa-icon "chevron-right"}}</button>
			</div>
		</div>
	</div>
</div>












