<div class="row">
	<div class="col-xs-12">


		<div class="table-responsive">
			<table class="table table-bordered">
				<tr>
					<th class="hidden-xs"><button {{action 'sortBy' 'id'}}>id</button></th>
					<th><button {{action 'sortBy' 'start_time'}}>start_time</button></th>
					<th class="hidden-xs"><button {{action 'sortBy' 'end_time'}}>end_time</button></th>
					<th><button {{action 'sortBy' 'duration'}}>duration</button></th>
					<th><button {{action 'sortBy' 'distance'}}>distance</button></th>
					<th>{{fa-icon "map-marker"}}</th>
					<th class="sr-only"></th>
				</tr>

				{{outlet}}

			</table>
		</div>

	</div>
</div>


<div class="row">
	<div class="col-xs-4">
		<button {{action 'prevPage'}} class="btn btn-default btn-block">{{fa-icon "chevron-left"}}</button>
	</div>
	<div class="col-xs-4">
		<p class="text-center">
			{{page}} / {{total}}
		</p>
	</div>
	<div class="col-xs-4">
		<button {{action 'nextPage'}} class="btn btn-default btn-block">{{fa-icon "chevron-right"}}</button>
	</div>
</div>








