<div class="row">
	<div class="col-xs-12">


		<!--<div class="table-responsive">-->
			<table class="table table-runs">
				<tr>
					<th class="hidden-xs" {{action 'sortBy' 'id'}}>id</th>
					<th class="text-right" {{action 'sortBy' 'start_time'}}>start_time</th>
					<th class="hidden-xs text-right" {{action 'sortBy' 'end_time'}}>end_time</th>
					<th class="text-right" {{action 'sortBy' 'duration'}}>duration</th>
					<th class="text-right" {{action 'sortBy' 'distance'}}>distance</th>
					<th>{{fa-icon "map-marker"}}</th>
				</tr>

				{{outlet}}

			</table>
		<!--</div>-->

	</div>
</div>


<div class="row">
	<div class="col-xs-4">
		<button {{action 'prevPage'}} class="btn btn-default btn-block">{{fa-icon "chevron-left"}}</button>
	</div>
	<div class="col-xs-4">
		<p class="text-center">
			{{page}} / {{total}}
		</p>
	</div>
	<div class="col-xs-4">
		<button {{action 'nextPage'}} class="btn btn-default btn-block">{{fa-icon "chevron-right"}}</button>
	</div>
</div>








