
<div class="row">
	<div class="col-sm-12">
		Runs: {{this.model}}
	</div>
</div>

<!--<div class="row">
	<div class="col-sm-12">
		asdf: {{this}}
		<ul>
			{{#each run in this}}
				<li> {{moment run.start_time 'DD.MM.YYYY h:mm:ss'}} - {{moment run.end_time 'h:mm:ss'}}: {{duration run.duration 'minutes'}} {{run.duration}}</li>
			{{/each}}
		</ul>
	</div>
</div>-->


<button {{action 'toggleExpand' 'isExpanded'}}>Hide Body</button>

<table class="table">
	<tr>
		<th><button {{action 'sortBy' 'id'}}>id</button></th>
		<th><button {{action 'sortBy' 'start_time'}}>start_time</button></th>
		<th><button {{action 'sortBy' 'end_time'}}>end_time</button></th>
		<th><button {{action 'sortBy' 'duration'}}>duration</button></th>
		<th><button {{action 'sortBy' 'distance'}}>distance</button></th>
	</tr>

	{{#each run in this}}
		<tr>
			<td>{{run.id}}</td><td>{{moment run.start_time 'DD.MM.YYYY h:mm:ss'}}</td><td>{{moment run.end_time 'h:mm:ss'}}</td><td>{{duration run.duration 'minutes'}}</td><td>{{run.distance}} m</td>
		</tr>
	{{/each}}

</table>

<button {{action 'prevPage'}}>prev</button>
<button {{action 'nextPage'}}>next</button>




{{outlet}}
