template: show<br>

{{#link-to 'run_session.index'}} <button class="btn btn-default">{{fa-icon "chevron-left"}}</button>{{/link-to}}

<ul>
	<li>{{this.model.id}}</li>
	<li>{{moment this.model.start_time 'DD.MM.YYYY h:mm:ss'}}</li>
	<li>{{moment this.model.end_time 'DD.MM.YYYY  h:mm:ss'}}</li>
	<li>{{duration this.model.duration 'minutes'}}</li>
	<li>{{this.model.distance}} m</li>
	<li>{{this.model.encoded_trace}}</li>
	<li>{{this.model.sport_type_id}}</li>
</ul>

<div id="map-canvas">

</div>