<div class="row">
	<div class="col-xs-12">
		{{#link-to 'run_session.index'}} <button class="btn btn-primary">{{fa-icon "chevron-left"}} &nbsp; Back</button>{{/link-to}}
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<table class="table table-runs">
			<tr>
				<td>id</td><td>{{this.model.id}}</td>
			</tr>
			<tr>
				<td>start_time</td><td>{{moment this.model.start_time 'DD.MM.YYYY h:mm:ss'}}</td>
			</tr>
			<tr>
				<td>end_time</td><td>{{moment this.model.end_time 'DD.MM.YYYY  h:mm:ss'}}</td>
			</tr>
			<tr>
				<td>duration</td><td>{{duration this.model.duration 'minutes'}}</td>
			</tr>
			<tr>
				<td>distance</td><td>{{this.model.distance}} m</td>
			</tr>
			<tr>
				<td>{{fa-icon "map-marker"}}</td><td>{{this.model.encoded_trace}}</td>
			</tr>

			{{outlet}}

		</table>

	</div>
</div>
